#resultRow{
	border-width: 2px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	opacity: 0.97;
}

#resultLabel{
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: gray;
	margin-right: 27%;
	padding-bottom: 1%;
	padding-top:1%;


}

#filterRow{
	border-width: 2px;
	border-style: solid;
	border-color: #54c0ff;
	margin-top: 1%;
	background-color: white;
	opacity: .97;
}

#filterLabel{
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #54c0ff;
	padding-bottom: 1%;
	padding-top:1%;
	padding-right: 5%;
}

label{
	display:block;
}
button {
	margin-right: 2px;
}

.form-group{
	margin-left: 2%;
	margin-right: 2%;
}

#rate{
	margin-left: 7%;
}

#radius{
	margin-left: 15%;
}

#dName{
	margin-left: 13%;
}

#filterReset{
	margin-left: 6%;
}

#cardHolder {
	background-color: white;
	margin-top: 2%;
	margin-bottom:5%;
	opacity: .90;
}

