#Did{
	border-color: black;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	margin-left:5%;
	margin-right:2.5%;
	margin-top:2%;
	margin-bottom:2%;
    padding: 10px;
    border-radius: 15px;
}

.card-body{
	background-color: white;
}